{
  "open_general_log": false,
  "is_encrypt": true,
  "name": "test_namespace_shard_plan",
  "online": true,
  "read_only": false,
  "allowed_dbs": {
    "db_kingshard_date_day": true,
    "db_kingshard_date_month": true,
    "db_kingshard_date_year": true,
    "db_kingshard_hash": true,
    "db_kingshard_mod": true,
    "db_kingshard_range": true,
    "db_mycat_long": true,
    "db_mycat_mod": true,
    "db_mycat_murmur": true,
    "db_mycat_string": true
  },
  "default_phy_dbs": null,
  "slow_sql_time": "1000",
  "black_sql": [],
  "allowed_ip": null,
  "slices": [
        {{- range $index, $slice := .Slices }}
        {
            "name": "{{.Name}}",
            "user_name": "{{.UserName}}",
            "password": "{{.Password}}",
            "master": "{{.Master}}",
            "slaves": [
                {{- range $index1, $value1 := $slice.Slaves }}
                "{{$value1}}"{{ if not (lastItem $index1 (len $slice.Slaves) ) }}, {{ end }} 
                {{- end }}
            ],
            "statistic_slaves": [
                {{- range $index2, $value2 := $slice.StatisticSlaves }}
                "{{$value2}}"{{ if not (lastItem $index2 (len $slice.StatisticSlaves) ) }}, {{ end }}
                {{- end }}
            ],
            "capacity": {{.Capacity}},
            "max_capacity": {{.MaxCapacity}},
            "idle_timeout": {{.IdleTimeout}},
            "capability": {{.Capability}},
            "init_connect": "{{.InitConnect}}"
        }{{ if not (lastItem $index (len $.Slices) ) }}, {{ end }}
        {{- end}}
    ],
  "shard_rules": [
    {
      "db": "db_kingshard_hash",
      "table": "tbl_shard",
      "parent_table": "",
      "type": "hash",
      "key": "id",
      "locations": [
        2,
        2
      ],
      "slices": [
        "slice-0",
        "slice-1"
      ],
      "date_range": null,
      "table_row_limit": 0,
      "databases": null,
      "partition_count": "",
      "partition_length": "",
      "hash_slice": "",
      "seed": "",
      "virtual_bucket_times": "",
      "pad_from": "",
      "pad_length": "",
      "mod_begin": "",
      "mod_end": ""
    },
    {
      "db": "db_kingshard_mod",
      "table": "tbl_shard",
      "parent_table": "",
      "type": "mod",
      "key": "id",
      "locations": [
        2,
        2
      ],
      "slices": [
        "slice-0",
        "slice-1"
      ],
      "date_range": null,
      "table_row_limit": 0,
      "databases": null,
      "partition_count": "",
      "partition_length": "",
      "hash_slice": "",
      "seed": "",
      "virtual_bucket_times": "",
      "pad_from": "",
      "pad_length": "",
      "mod_begin": "",
      "mod_end": ""
    },
    {
      "db": "db_kingshard_range",
      "table": "tbl_shard",
      "parent_table": "",
      "type": "range",
      "key": "id",
      "locations": [
        2,
        2
      ],
      "slices": [
        "slice-0",
        "slice-1"
      ],
      "date_range": null,
      "table_row_limit": 3,
      "databases": null,
      "partition_count": "",
      "partition_length": "",
      "hash_slice": "",
      "seed": "",
      "virtual_bucket_times": "",
      "pad_from": "",
      "pad_length": "",
      "mod_begin": "",
      "mod_end": ""
    },
    {
      "db": "db_kingshard_date_year",
      "table": "tbl_shard",
      "parent_table": "",
      "type": "date_year",
      "key": "create_time",
      "locations": [
        2,
        2
      ],
      "slices": [
        "slice-0",
        "slice-1"
      ],
      "date_range": [
        "2016-2017",
        "2018-2019"
      ],
      "table_row_limit": 0,
      "databases": null,
      "partition_count": "",
      "partition_length": "",
      "hash_slice": "",
      "seed": "",
      "virtual_bucket_times": "",
      "pad_from": "",
      "pad_length": "",
      "mod_begin": "",
      "mod_end": ""
    },
    {
      "db": "db_kingshard_date_month",
      "table": "tbl_shard",
      "parent_table": "",
      "type": "date_month",
      "key": "create_time",
      "locations": [
        2,
        2
      ],
      "slices": [
        "slice-0",
        "slice-1"
      ],
      "date_range": [
        "201405-201406",
        "201408-201409"
      ],
      "table_row_limit": 0,
      "databases": null,
      "partition_count": "",
      "partition_length": "",
      "hash_slice": "",
      "seed": "",
      "virtual_bucket_times": "",
      "pad_from": "",
      "pad_length": "",
      "mod_begin": "",
      "mod_end": ""
    },
    {
      "db": "db_kingshard_date_day",
      "table": "tbl_shard",
      "parent_table": "",
      "type": "date_day",
      "key": "create_time",
      "locations": [
        2,
        2
      ],
      "slices": [
        "slice-0",
        "slice-1"
      ],
      "date_range": [
        "20201201-20201202",
        "20201203-20201204"
      ],
      "table_row_limit": 3,
      "databases": null,
      "partition_count": "",
      "partition_length": "",
      "hash_slice": "",
      "seed": "",
      "virtual_bucket_times": "",
      "pad_from": "",
      "pad_length": "",
      "mod_begin": "",
      "mod_end": ""
    },
    {
      "db": "db_mycat_mod",
      "table": "tbl_mycat",
      "parent_table": "",
      "type": "mycat_mod",
      "key": "id",
      "locations": [
        2,
        2
      ],
      "slices": [
        "slice-0",
        "slice-1"
      ],
      "date_range": null,
      "table_row_limit": 0,
      "databases": [
        "db_mycat_mod_[0-3]"
      ],
      "partition_count": "",
      "partition_length": "",
      "hash_slice": "",
      "seed": "",
      "virtual_bucket_times": "",
      "pad_from": "",
      "pad_length": "",
      "mod_begin": "",
      "mod_end": ""
    },
    {
      "db": "db_mycat_long",
      "table": "tbl_mycat",
      "parent_table": "",
      "type": "mycat_long",
      "key": "id",
      "locations": [
        2,
        2
      ],
      "slices": [
        "slice-0",
        "slice-1"
      ],
      "date_range": null,
      "table_row_limit": 0,
      "databases": [
        "db_mycat_long_[0-3]"
      ],
      "partition_count": "4",
      "partition_length": "256",
      "hash_slice": "",
      "seed": "",
      "virtual_bucket_times": "",
      "pad_from": "",
      "pad_length": "",
      "mod_begin": "",
      "mod_end": ""
    },
    {
      "db": "db_mycat_murmur",
      "table": "tbl_mycat",
      "parent_table": "",
      "type": "mycat_murmur",
      "key": "id",
      "locations": [
        2,
        2
      ],
      "slices": [
        "slice-0",
        "slice-1"
      ],
      "date_range": null,
      "table_row_limit": 0,
      "databases": [
        "db_mycat_murmur_[0-3]"
      ],
      "partition_count": "",
      "partition_length": "",
      "hash_slice": "",
      "seed": "0",
      "virtual_bucket_times": "160",
      "pad_from": "",
      "pad_length": "",
      "mod_begin": "",
      "mod_end": ""
    },
    {
      "db": "db_mycat_string",
      "table": "tbl_mycat",
      "parent_table": "",
      "type": "mycat_string",
      "key": "col1",
      "locations": [
        2,
        2
      ],
      "slices": [
        "slice-0",
        "slice-1"
      ],
      "date_range": null,
      "table_row_limit": 0,
      "databases": [
        "db_mycat_string_[0-3]"
      ],
      "partition_count": "4",
      "partition_length": "256",
      "hash_slice": ":",
      "seed": "",
      "virtual_bucket_times": "",
      "pad_from": "",
      "pad_length": "",
      "mod_begin": "",
      "mod_end": ""
    }
  ],
  "users": [
        {{- range $index, $user := .GaeaUsers }}
        {
            "user_name": "{{.UserName}}",
            "password": "{{.Password}}", 
            "namespace": "test_namespace_shard_plan",
            "rw_flag": {{.RWFlag}},
            "rw_split": {{.RWSplit}},
            "other_property":{{.OtherProperty}}
        }{{ if not (lastItem $index (len $.GaeaUsers) ) }}, {{ end }}
        {{- end}}
  ],
  "default_slice": "slice-0",
  "global_sequences": null,
  "default_charset": "",
  "default_collation": "",
  "max_sql_execute_time": 0,
  "max_sql_result_size": 0,
  "max_client_connections": 0,
  "down_after_no_alive": 0,
  "seconds_behind_master": 0,
  "check_select_lock": false,
  "support_multi_query": false,
  "local_slave_read_priority": 0
}
